.container {
  width: 85%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

.player {
  font-size: 1.25rem;
  font-weight: light;
  color: #fff2f9;
}

body {
  background-color: #323232;
}

h1 {
  margin: 25px;
  font-family: "Balsamiq Sans", sans-serif;
  /* text-shadow: 5px 0 #232931; */
  font-size: 7rem;
  color: #fe83c6;
}

p {
  font-size: 2rem;
  color: #fa4eab;
  font-family: "Karla", sans-serif;
}

img {
  width: 40%;
}

footer {
  margin-top: 5%;
  color: #fff2f9;
  text-align: center;
  font-family: "Karla", sans-serif;
}
